nxbuild
build*/
build/*
*.elf
*.nro
*.nacp
*.dksh
*.nso
*ignoreme
src/ignoreme/
old_code
created_ncas
.vscode/settings.json
.idea
info/
assets/unused

libs/libpulsar
libs/stb
libs/yyjson
libs/tweeny

compile_commands.json
out

usb_test/
__pycache__
usb_*.spec

CMakeUserPresets.json
build_patreon.sh
